* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #2c2c2c;
}
